In [3]:
import numpy as np
import pandas as pd
ts=pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31   -0.215955
2000-02-29   -1.553949
2000-03-31    0.842639
2000-04-30    0.131391
Freq: M, dtype: float64

In [4]:
ts.shift(2) #leading data

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.215955
2000-04-30   -1.553949
Freq: M, dtype: float64

In [5]:
ts.shift(-2) #lagging data

2000-01-31    0.842639
2000-02-29    0.131391
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [6]:
ts.shift(-2, freq='M')

1999-11-30   -0.215955
1999-12-31   -1.553949
2000-01-31    0.842639
2000-02-29    0.131391
Freq: M, dtype: float64

In [7]:
ts.shift(-3)

2000-01-31    0.131391
2000-02-29         NaN
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [8]:
ts.shift(3, freq='D')

2000-02-03   -0.215955
2000-03-03   -1.553949
2000-04-03    0.842639
2000-05-03    0.131391
dtype: float64

In [9]:
ts.shift(1, freq='D')

2000-02-01   -0.215955
2000-03-01   -1.553949
2000-04-01    0.842639
2000-05-01    0.131391
Freq: MS, dtype: float64

In [11]:
from datetime import datetime
from pandas.tseries.offsets import Day,MonthEnd

In [12]:
now=datetime(2020,12,11)
now

datetime.datetime(2020, 12, 11, 0, 0)

In [13]:
now+2*Day()

Timestamp('2020-12-13 00:00:00')

In [14]:
now+MonthEnd()

Timestamp('2020-12-31 00:00:00')

In [16]:
now+Day()

Timestamp('2020-12-12 00:00:00')

In [17]:
offset=MonthEnd()

In [18]:
now

datetime.datetime(2020, 12, 11, 0, 0)

In [19]:
offset.rollforward(now)

Timestamp('2020-12-31 00:00:00')

In [20]:
offset.rollforward(now)

Timestamp('2020-12-31 00:00:00')

In [22]:
offset.rollback(now)

Timestamp('2020-11-30 00:00:00')

In [23]:
import pytz

In [24]:
tz=pytz.timezone('Asia/Kolkata')

In [25]:
tz

In [26]:
a=pd.date_range('1/1/2020 12:13',periods=10,freq='D',tz='UTC')
a

DatetimeIndex(['2020-01-01 12:13:00+00:00', '2020-01-02 12:13:00+00:00',
               '2020-01-03 12:13:00+00:00', '2020-01-04 12:13:00+00:00',
               '2020-01-05 12:13:00+00:00', '2020-01-06 12:13:00+00:00',
               '2020-01-07 12:13:00+00:00', '2020-01-08 12:13:00+00:00',
               '2020-01-09 12:13:00+00:00', '2020-01-10 12:13:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [27]:
stamp_moscow=pd.Timestamp('2011-03-12 04:00',tz='Asia/Kolkata')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0530', tz='Asia/Kolkata')

In [28]:
a

DatetimeIndex(['2020-01-01 12:13:00+00:00', '2020-01-02 12:13:00+00:00',
               '2020-01-03 12:13:00+00:00', '2020-01-04 12:13:00+00:00',
               '2020-01-05 12:13:00+00:00', '2020-01-06 12:13:00+00:00',
               '2020-01-07 12:13:00+00:00', '2020-01-08 12:13:00+00:00',
               '2020-01-09 12:13:00+00:00', '2020-01-10 12:13:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [30]:
rng=pd.date_range('11/12/2019 12:18',periods=6,freq='D')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2019-11-12 12:18:00   -0.334914
2019-11-13 12:18:00    0.770296
2019-11-14 12:18:00   -0.388486
2019-11-15 12:18:00   -0.190400
2019-11-16 12:18:00   -0.928603
2019-11-17 12:18:00   -1.145015
Freq: D, dtype: float64

In [31]:
ts_utc=ts.tz_localize('Asia/Kolkata')
ts_utc

2019-11-12 12:18:00+05:30   -0.334914
2019-11-13 12:18:00+05:30    0.770296
2019-11-14 12:18:00+05:30   -0.388486
2019-11-15 12:18:00+05:30   -0.190400
2019-11-16 12:18:00+05:30   -0.928603
2019-11-17 12:18:00+05:30   -1.145015
Freq: D, dtype: float64

In [32]:
ts_utc=ts.tz_localize('America/New_York')
ts_utc

2019-11-12 12:18:00-05:00   -0.334914
2019-11-13 12:18:00-05:00    0.770296
2019-11-14 12:18:00-05:00   -0.388486
2019-11-15 12:18:00-05:00   -0.190400
2019-11-16 12:18:00-05:00   -0.928603
2019-11-17 12:18:00-05:00   -1.145015
Freq: D, dtype: float64