## tuples .....>it cannot be changeable
### it is collection of different data types separted by commas,and enclosed with ()

In [1]:
t=(1,3,4,9,8,"hello","kvsw") #unmutable we cant change
t                   #it can accept diff data types

(1, 3, 4, 9, 8, 'hello', 'kvsw')

In [2]:
type(t)

tuple

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [7]:
t.count("hello")

1

In [8]:
t1=(5,6,5,7,"mstp","kk")
type(t1)

tuple

In [9]:
#elementcounts
t1.count(5)

2

In [10]:
#index
t1.index("mstp")

4

In [11]:
t1[0]

5

In [12]:
t1[-1]

'kk'

In [13]:
t1[1:]

(6, 5, 7, 'mstp', 'kk')

In [14]:
t1.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
t1*2

(5, 6, 5, 7, 'mstp', 'kk', 5, 6, 5, 7, 'mstp', 'kk')

In [16]:
#adding t and t1 
print(t+t1)

(1, 3, 4, 9, 8, 'hello', 'kvsw', 5, 6, 5, 7, 'mstp', 'kk')

In [17]:
#division
t[0]/3

0.3333333333333333

# Set
{}...>it is a colllection of elementssepearted by,enclosed{}.it doesnt has index.the elements are unordered.

In [20]:
se={1,4,5,6,6,7,1} #either integers r strings
type(se)      #it display the inquee oly
se

{1, 4, 5, 6, 7}

In [22]:
s={"apple","mango","watermaleon"}
print(type(s))   #datatype
s

<class 'set'>

{'apple', 'mango', 'watermaleon'}

In [23]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [24]:
se

{1, 4, 5, 6, 7}

In [25]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [26]:
#add method
se.add(23)
se

{1, 4, 5, 6, 7, 23}

In [27]:
#clear method
se.clear()

In [28]:
se

set()

In [30]:
set1={3,4,5,3,7,8}
set1

{3, 4, 5, 7, 8}

In [32]:
#copy
setcopy=set1.copy()
print(setcopy)
print(set1)

{3, 4, 5, 7, 8}
{3, 4, 5, 7, 8}

In [33]:
help(set.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [48]:
x={1,2,4,5,8,9}
y={3,8,8,9,6}
z=x.difference(y)      
z1=y.difference(x)
print(z)
print(z1)

{1, 2, 4, 5}
{3, 6}

In [49]:
print(x.isdisjoint(y))  #trueorfalse(itshowfalse)
print(y.isdisjoint(x))

False
False

In [39]:
help(set.union)

Help on built-in function union:

union(...) method of builtins.set instance
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [41]:
#union
print(x.union(y))

{1, 2, 3, 4, 5, 6, 8, 9}

In [42]:
#intersection
print(x.intersection(y))

{8, 9}

In [43]:
help(set.issubset)

Help on built-in function issubset:

issubset(...) method of builtins.set instance
    Report whether another set contains this set.

In [45]:
print(x.issubset(y))

False

## elements accessing in set

In [51]:
s_t={3,4,5,3,7}
for kvsw in s_t:          #itgetalldatavaribe
    print(kvsw,end=",")

3,4,5,7,

In [52]:
help(set.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [55]:
x

{1, 2, 4, 5, 8, 9}

In [56]:
y

{1, 2, 3, 4, 5, 6, 8, 9}

In [54]:
updated_set=y.update(x)
print(updated_set)

None

In [58]:
y.update(x)
y

{1, 2, 3, 4, 5, 6, 8, 9}

In [60]:
#symmentric
help(set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [61]:
x.symmetric_difference(y)
z

{1, 2, 4, 5}

In [62]:
y.symmetric_difference(x)
z

{1, 2, 4, 5}

In [63]:
x

{1, 2, 4, 5, 8, 9}

In [64]:
y

{1, 2, 3, 4, 5, 6, 8, 9}

In [66]:
y.symmetric_difference(x)

{3, 6}

In [67]:
#pop
x.pop()
x

{2, 4, 5, 8, 9}

In [69]:
x.pop()
x

{5, 8, 9}

In [70]:
#remove
y.remove(8)
y

{1, 2, 3, 4, 5, 6, 9}

In [71]:
#discard
y.discard(2)
y

{1, 3, 4, 5, 6, 9}

In [1]:
#list assign set
li=[5,8,9,9,10,5,3]
print(type(li),li)
x=set(li)
print(type(x),x)

<class 'list'> [5, 8, 9, 9, 10, 5, 3]
<class 'set'> {3, 5, 8, 9, 10}

In [2]:
#user input 5 6 7 8 8 5
#x={5,6,7,8,8,5}
s=list(set(map(int,input().split()))) 
print(s)

5 6 7 8 8 5
[8, 5, 6, 7]