In [1]:
from datetime import datetime

In [2]:
a=datetime.now()
a

datetime.datetime(2020, 1, 29, 14, 58, 41, 30624)

In [3]:
from datetime import *
now=datetime.now()
print(now)
print('Date now :{}-{}-{}'.format(now.day,now.month,now.year))

2020-01-29 14:58:41.180224
Date now :29-1-2020

In [4]:
from datetime import *
now=datetime.now()
print(now)
print('Date now :{}-{}-{}'.format(now.day,now.month,now.year))
print('Time now :{}:{}:{}'.format(now.hour,now.minute,now.second))

2020-01-29 14:58:41.321024
Date now :29-1-2020
Time now :14:58:41

In [5]:
tdm=datetime.today()
print(tdm)
print('Today date and time:',tdm)
td=date.today()
print(td)

2020-01-29 14:58:41.430224
Today date and time: 2020-01-29 14:58:41.430224
2020-01-29

In [6]:
delta=datetime(2011, 1, 7)-datetime(2008, 6, 24, 8, 15)
print(delta)

926 days, 15:45:00

In [7]:
delta=datetime(2011, 1, 7)-datetime(2008, 6, 24, 8, 15)
print(delta)
print(delta.days)

926 days, 15:45:00
926

In [8]:
delta

datetime.timedelta(days=926, seconds=56700)

In [9]:
print(delta.total_seconds())

80063100.0

In [10]:
datetime(2011,12,26)+timedelta(206)

datetime.datetime(2012, 7, 19, 0, 0)

In [11]:
dates=[datetime(2011, 1, 2),datetime(2011, 1,5),datetime(2011, 1, 7),]

In [12]:
import numpy as np
import pandas as pd 
ts = pd.Series(np.random.randn(3),index=dates)
ts

2011-01-02   -0.653413
2011-01-05   -0.440725
2011-01-07    1.325655
dtype: float64

In [13]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07'], dtype='datetime64[ns]', freq=None)

In [14]:
stamp=ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [15]:
ts[stamp]

-0.6534126403972397

In [16]:
stamp=ts.index[1]
stamp

Timestamp('2011-01-05 00:00:00')

In [17]:
ts[stamp]

-0.4407254201720161

In [18]:
now=datetime.now()
print(now)
timestamp=datetime=datetime.timestamp(now)
print(timestamp)

2020-01-29 14:58:43.280024
1580290123.280024

In [19]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
print(longer_ts)

2000-01-01    0.530129
2000-01-02    0.051164
2000-01-03   -3.299937
2000-01-04   -1.152913
2000-01-05   -1.326943
2000-01-06    0.739016
2000-01-07    0.757579
2000-01-08   -0.383973
2000-01-09    1.336009
2000-01-10    1.352884
2000-01-11    1.255100
2000-01-12   -1.117095
2000-01-13    0.115950
2000-01-14   -0.473544
2000-01-15    0.470661
2000-01-16    2.678791
2000-01-17    0.946301
2000-01-18    0.097772
2000-01-19    0.266561
2000-01-20    1.053429
2000-01-21   -0.439035
2000-01-22   -1.118879
2000-01-23   -0.079301
2000-01-24    0.671536
2000-01-25    0.226369
2000-01-26    1.276143
2000-01-27   -0.361609
2000-01-28    1.600170
2000-01-29   -0.800700
2000-01-30    2.206422
                ...
2002-08-28    0.167282
2002-08-29   -1.883609
2002-08-30   -1.118854
2002-08-31    0.511391
2002-09-01    0.224223
2002-09-02   -1.183228
2002-09-03   -0.417368
2002-09-04    2.594977
2002-09-05   -0.773503
2002-09-06    1.024965
2002-09-07    0.669098
2002-09-08    0.966377
2002-09-09   -0.436427
2002-09-10    0.146677
2002-09-11   -0.502334
2002-09-12    0.941613
2002-09-13   -0.124448
2002-09-14    1.513232
2002-09-15    1.183271
2002-09-16    0.683870
2002-09-17    0.522700
2002-09-18    2.700307
2002-09-19    0.783224
2002-09-20    0.723665
2002-09-21    0.389445
2002-09-22   -2.921122
2002-09-23   -0.217461
2002-09-24    1.907809
2002-09-25   -0.337787
2002-09-26   -0.237092
Freq: D, Length: 1000, dtype: float64

In [20]:
longer_ts['2001']

2001-01-01    0.973675
2001-01-02   -3.353170
2001-01-03    0.387762
2001-01-04    1.139860
2001-01-05   -1.390953
2001-01-06    0.398688
2001-01-07   -0.377829
2001-01-08   -0.807993
2001-01-09    0.801108
2001-01-10    0.516069
2001-01-11   -0.943810
2001-01-12    0.642038
2001-01-13   -0.166319
2001-01-14   -1.203602
2001-01-15   -2.274959
2001-01-16    2.577601
2001-01-17   -1.761824
2001-01-18   -1.864182
2001-01-19    1.898061
2001-01-20    0.427396
2001-01-21    0.235055
2001-01-22    1.277648
2001-01-23    2.315901
2001-01-24   -0.461935
2001-01-25    0.344631
2001-01-26    0.346869
2001-01-27    1.393583
2001-01-28   -0.170326
2001-01-29   -0.289056
2001-01-30    0.106228
                ...
2001-12-02    1.760063
2001-12-03    0.397731
2001-12-04   -0.043335
2001-12-05    0.142843
2001-12-06    0.968691
2001-12-07    0.450038
2001-12-08    1.075791
2001-12-09    0.643195
2001-12-10    0.000584
2001-12-11   -2.019428
2001-12-12    0.012021
2001-12-13    0.890033
2001-12-14   -0.527731
2001-12-15   -0.802755
2001-12-16   -1.138568
2001-12-17    0.326337
2001-12-18   -1.821316
2001-12-19   -0.286837
2001-12-20    2.668277
2001-12-21   -0.393763
2001-12-22    0.352920
2001-12-23    1.742372
2001-12-24    1.927786
2001-12-25    1.833152
2001-12-26    1.094002
2001-12-27    2.544256
2001-12-28    1.332680
2001-12-29    1.624068
2001-12-30    0.967170
2001-12-31   -0.286787
Freq: D, Length: 365, dtype: float64

In [21]:
longer_ts['2001-05']

2001-05-01    1.391897
2001-05-02   -0.702501
2001-05-03   -0.387875
2001-05-04   -0.106165
2001-05-05   -0.316632
2001-05-06    0.537734
2001-05-07   -0.260690
2001-05-08   -1.055821
2001-05-09    0.585882
2001-05-10   -0.861856
2001-05-11   -1.734067
2001-05-12   -1.663723
2001-05-13    0.972995
2001-05-14   -0.607681
2001-05-15   -0.948580
2001-05-16   -0.340739
2001-05-17    0.712492
2001-05-18    1.977510
2001-05-19    0.279836
2001-05-20    0.177058
2001-05-21   -0.097214
2001-05-22    0.812444
2001-05-23    0.075367
2001-05-24    2.391539
2001-05-25   -0.012099
2001-05-26    1.409958
2001-05-27   -1.070779
2001-05-28   -0.702721
2001-05-29   -0.665207
2001-05-30   -0.868401
2001-05-31    0.123953
Freq: D, dtype: float64

In [29]:
ts.index[1:]
#ts

DatetimeIndex(['2011-01-05', '2011-01-07'], dtype='datetime64[ns]', freq=None)

In [ ]:
ts

In [27]:
ts[datetime(2011, 1, 2):]

TypeError: 'float' object is not callable

In [30]:
ts['2011, 1, 5':'2011-01-12']

2011-01-05   -0.440725
2011-01-07    1.325655
dtype: float64

In [31]:
pd.date_range('2000-01-01','2001-01-01',freq="BM")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [35]:
dates=pd.date_range('1/1/2019',periods=100, freq='W-WED')

In [39]:
longer_df=pd.DataFrame(np.random.randn(100, 4),index=dates, columns=['Colorado','Texas','New Yark','Ohio'])
longer_df

            Colorado     Texas  New Yark      Ohio
2019-01-02 -1.001966  0.366723  0.940784  0.007808
2019-01-09  0.414085  0.168423  1.364644  0.534320
2019-01-16  1.493719  1.503798 -1.044266  0.679792
2019-01-23  1.172938  0.395014  0.188488 -0.834716
2019-01-30 -0.589473 -1.515083 -0.145825 -1.269775
2019-02-06  0.796127  0.651374 -1.439343 -0.373383
2019-02-13 -0.189611  2.770498 -0.765281  1.011312
2019-02-20  0.051414 -0.891745 -0.971839  1.440667
2019-02-27  0.155752 -0.493982  1.584051  0.503622
2019-03-06 -1.108599 -1.709629  0.230098  0.291470
2019-03-13 -1.474940  0.995332  1.611247  0.392754
2019-03-20 -1.194126  0.202741 -0.406762  1.773634
2019-03-27  2.271444 -0.483036  1.484544 -1.416521
2019-04-03 -1.054181  0.703838 -0.463378  0.287586
2019-04-10  1.984194 -1.339830  1.273013  2.564051
2019-04-17 -0.637653  1.850274  0.301270 -0.163137
2019-04-24  1.557886 -2.475997 -0.820216 -1.904221
2019-05-01 -0.949430  0.858372  0.225667  0.332374
2019-05-08  1.237801  1.093325 -0.878239  0.909095
2019-05-15 -0.374598 -0.135402 -2.271537  0.130427
2019-05-22  0.694035  1.205241  1.200090  1.498875
2019-05-29  0.660577 -2.306612  1.385655 -0.479784
2019-06-05 -1.251030 -0.825514 -0.888173  1.707518
2019-06-12 -0.285485  0.858713 -0.404299  1.335287
2019-06-19  0.174967 -0.643215  0.212475 -1.256030
2019-06-26  1.293876  0.013351  0.310701  0.610139
2019-07-03 -0.150559 -2.120913  0.750083 -0.139452
2019-07-10 -1.669392  1.461511 -1.057008  0.061547
2019-07-17 -0.349287 -1.788465  1.304995  0.378103
2019-07-24 -1.830042  0.290640 -0.123666 -1.032071
...              ...       ...       ...       ...
2020-05-06  0.030867 -0.924195  1.822251  0.600198
2020-05-13  2.498270  0.694925  1.985586 -1.312268
2020-05-20  1.095164  0.442926  0.603371 -0.348701
2020-05-27  0.430267  0.056481  0.953617 -0.229934
2020-06-03  0.584928  0.548272  0.222740  0.997036
2020-06-10 -1.070911 -1.169786 -1.825878  1.446744
2020-06-17 -0.320659 -0.429036 -0.287766 -0.962857
2020-06-24 -0.157433 -0.742393 -1.192380  1.093906
2020-07-01  0.963579  0.236738 -1.150614 -0.098646
2020-07-08 -0.642133 -2.022279  0.895302  0.030965
2020-07-15 -0.785283  0.996499 -0.997672 -0.747655
2020-07-22  0.491296  0.318447 -0.481681 -0.627189
2020-07-29  0.947168 -2.027679 -0.702935 -1.162107
2020-08-05 -0.846379  1.778300 -0.909026  1.239255
2020-08-12  0.027798  0.296207  0.157166  1.425255
2020-08-19  0.241050  0.463470  1.157258 -0.538842
2020-08-26  0.230484  0.197559  0.497934 -0.608250
2020-09-02  0.112831  0.129310  0.224140  1.634012
2020-09-09 -0.384413 -0.005515  1.085310 -0.315154
2020-09-16  1.053757  0.307075  0.145772  0.331677
2020-09-23 -0.315464  0.663297 -0.286527 -1.058659
2020-09-30 -1.916435  0.403215 -0.306304  1.745860
2020-10-07  2.023060  0.341703 -1.289342 -0.301480
2020-10-14 -0.554327  0.837171 -0.341809  0.757484
2020-10-21  0.824277 -2.008698 -1.030200 -0.086126
2020-10-28  0.502969  0.138281 -0.058150  1.447163
2020-11-04  1.019790 -1.156016  0.476456 -0.103258
2020-11-11 -0.197353  0.783858  0.048748  0.781156
2020-11-18  0.358310 -0.662577 -0.270139 -0.176230
2020-11-25 -0.034875 -0.392883 -0.198764 -0.095307

[100 rows x 4 columns]

In [40]:
longer_df.loc['5-2019']

            Colorado     Texas  New Yark      Ohio
2019-05-01 -0.949430  0.858372  0.225667  0.332374
2019-05-08  1.237801  1.093325 -0.878239  0.909095
2019-05-15 -0.374598 -0.135402 -2.271537  0.130427
2019-05-22  0.694035  1.205241  1.200090  1.498875
2019-05-29  0.660577 -2.306612  1.385655 -0.479784

In [42]:
dates=pd.DatetimeIndex(['1/1/2000','2/1/2000','3/1/2000','4/1/2000','5/1/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01'],
              dtype='datetime64[ns]', freq=None)

In [43]:
dup_ts=pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-02-01    1
2000-03-01    2
2000-04-01    3
2000-05-01    4
dtype: int32

In [44]:
dup_ts.index.is_unique

True

In [51]:
dup_ts['1/1/2000']

0

In [52]:
grouped=dup_ts.groupby(level=0)

In [53]:
grouped.mean()

2000-01-01    0
2000-02-01    1
2000-03-01    2
2000-04-01    3
2000-05-01    4
dtype: int32

In [54]:
grouped.count()

2000-01-01    1
2000-02-01    1
2000-03-01    1
2000-04-01    1
2000-05-01    1
dtype: int64

In [55]:
ts

2011-01-02   -0.653413
2011-01-05   -0.440725
2011-01-07    1.325655
dtype: float64

In [56]:
index=pd.date_range('2012-04-01','2012-06-01')

In [57]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range(start='2012-04-01',end='2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [61]:
pd.date_range(start='1/1/2019',periods=5, freq='M')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31'],
              dtype='datetime64[ns]', freq='M')

In [62]:
pd.date_range(start='1/1/2019',periods=5)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

In [64]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [65]:
_4hours=Hour(4)
_4hours

In [66]:
pd.date_range('2000-01-01','2000-01-03 23:59', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [67]:
pd.date_range('2000-01-01',periods=10, freq='1H30MIN')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [68]:
s=pd.date_range('2019-12-11',periods=10)

In [69]:
for day in s:
    print(day.dayofweek,day.weekday_name)

2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

C:\Users\kvsw12\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

In [70]:
for day in s:
    print(day.dayofweek)

2
3
4
5
6
0
1
2
3
4