# day objective
## markdown system
### python basics

**checking bold**

**italic data**

***text bold and italic***

* text

> TEXT!

## python Basics

## find the python

In [11]:
import sys
sys.version

'3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]'

## print hello world

In [14]:
print("Hello world")

Hello world

In [23]:
print("kvsw humera")
print("kvsw"+" niki") 
x="asdaf"
print(x)

kvsw humera
kvsw niki
asdaf

## Data type In Python
* Int
* Float
* List
* Complex
* String
* Tuples
* Set

In [30]:
a=20
print(a)

20

In [31]:
type(a)

int

In [38]:
b="lucky"
print(b)
type(b)

lucky

str

In [37]:
c=5.7
print(c)
type(c)

5.7

float

In [44]:
a=6+8j
type(a)

complex

In [45]:
a

(6+8j)

# Data type conversion

In [46]:
s=str(a)
s

'(6+8j)'

In [47]:
a=6
type(a)

int

In [50]:
f=float(a)
print(f)
type(f)

6.0

float

# Variable assigning
>1.different data types can be assigned as different variables
     >2.same data types can be assigned as different variables

In [52]:
a,b,c=23,"kikki",34.7
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

23 kikki 34.7
<class 'int'>
<class 'str'>
<class 'float'>

In [54]:
a=b=c="keerthi"
a

'keerthi'

In [55]:
b

'keerthi'

In [56]:
c

'keerthi'

In [57]:
## Arithmetic and Logical Operations in python

In [66]:
a=30
b=90
print("addition",a+b)
print("substraction",a-b)
print("multiplication",a*b)
print("floor division",a//b)
print("power",a**2)

addition 120
substraction -60
multiplication 2700
floor division 0
power 900

# Comments in python

In [ ]:
'''fjdfdhjhfj
mhjksgjkasfjg
khgsjglkg'''