In [4]:
import pandas as pd
p=pd.Period(2007,freq='A-MAY')
p

Period('2007', 'A-MAY')

In [5]:
p+2

Period('2009', 'A-MAY')

In [6]:
p-2

Period('2005', 'A-MAY')

In [8]:
p

Period('2007', 'A-MAY')

In [9]:
p=pd.Period(2020,freq='A-MAY')-2
p

Period('2018', 'A-MAY')

In [10]:
pd.Period(2014,freq='A-MAY')-p

<-4 * YearEnds: month=5>

In [15]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='D')
rng

PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10',
             ...
             '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-24',
             '2000-06-25', '2000-06-26', '2000-06-27', '2000-06-28',
             '2000-06-29', '2000-06-30'],
            dtype='period[D]', length=182, freq='D')

In [12]:
index=pd.date_range('1/1/2000',periods=4,freq='T')
series=pd.Series([0.0,None,2.0,3.0],index=index)
df=pd.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [14]:
df.asfreq(freq='30s')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [17]:
df.asfreq(freq='30s',fill_value=9.0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  9.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  9.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  9.0
2000-01-01 00:03:00  3.0

In [18]:
p

Period('2018', 'A-MAY')

In [21]:
p.asfreq('D',how='start')

Period('2017-06-01', 'D')

In [22]:
p.asfreq('D',how='end')

Period('2018-05-31', 'D')

In [23]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [25]:
df.asfreq('T',how='start')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [26]:
df.asfreq('T',how='end')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [27]:
rng=pd.date_range('2006','2009',freq='A-DEC')
rng

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [28]:
import numpy as np
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2006-12-31    0.749316
2007-12-31    0.080619
2008-12-31   -1.803223
Freq: A-DEC, dtype: float64

In [29]:
ts.asfreq('M',how='start')

2006-12-31    0.749316
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31    0.080619
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31   -1.803223
Freq: M, dtype: float64

In [31]:
p=pd.Period('2012Q4',freq='M')
p

Period('2012-10', 'M')

In [32]:
rng=pd.period_range('2011Q3','2012Q4',freq='Q-JAN')
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [33]:
ts=pd.Series(np.arange(len(rng)),index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [46]:
rng=pd.date_range('2000-01-01',periods=3,freq='M')
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [47]:
ts=pd.Series(np.random.randn(3),index=rng)
ts

2000-01-31    0.704778
2000-02-29   -0.319664
2000-03-31    0.582200
Freq: M, dtype: float64

In [37]:
ts=pd.Series(np.random.randn(3),index=rng)
ts

2000-01-31   -1.452676
2000-02-29    0.275372
2000-03-31    0.864170
Freq: M, dtype: float64

In [38]:
pts=ts.to_period()

In [39]:
pts

2000-01   -1.452676
2000-02    0.275372
2000-03    0.864170
Freq: M, dtype: float64

In [41]:
rng=pd.date_range('1/29/2000',periods=6,freq='D')
ts2=pd.Series(np.random.randn(6),index=rng)
ts2

2000-01-29   -0.133695
2000-01-30   -0.007318
2000-01-31   -0.481976
2000-02-01   -1.209086
2000-02-02   -0.364008
2000-02-03    0.676673
Freq: D, dtype: float64

In [42]:
ts2.to_period()

2000-01-29   -0.133695
2000-01-30   -0.007318
2000-01-31   -0.481976
2000-02-01   -1.209086
2000-02-02   -0.364008
2000-02-03    0.676673
Freq: D, dtype: float64

In [43]:
pts.to_timestamp(how='end')

2000-01-31 23:59:59.999999999   -1.452676
2000-02-29 23:59:59.999999999    0.275372
2000-03-31 23:59:59.999999999    0.864170
Freq: M, dtype: float64

In [44]:
pts.to_timestamp(how='start')

2000-01-01   -1.452676
2000-02-01    0.275372
2000-03-01    0.864170
Freq: MS, dtype: float64

In [45]:
index=pd.date_range('1/1/2000',periods=9,freq='T')
series=pd.Series(range(9),index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [48]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [49]:
series.resample('3T',label='right',closed='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int64

In [50]:
import pandas as pd
df=pd.read_csv("apple.csv",parse_dates=["date"],index_col="date")
df[:10]

                      close       volume    open    high       low
date
2020-02-01 16:00:00  192.23  4,65,41,444  191.72  197.18  191.4501
2018-11-13 00:00:00  192.23     46725710  191.63  197.18  191.4501
2018-12-11 00:00:00  194.17     50991030  199.00  199.85  193.7900
2018-09-11 00:00:00  204.47     34317760  205.55  206.01  202.2500
2018-08-11 00:00:00  208.49     25289270  209.98  210.12  206.7500
2018-07-11 00:00:00  209.95     33291640  205.97  210.06  204.1300
2018-06-11 00:00:00  203.77     31774720  201.92  204.72  201.6900
2018-05-11 00:00:00  201.59     66072170  204.30  204.39  198.1700
2018-02-11 00:00:00  207.48     91046560  209.55  213.65  205.4300
2018-01-11 00:00:00  222.22     52954070  219.05  222.36  216.8100

In [52]:
weekly_resampled_data=df.close.resample('M').mean()
weekly_resampled_data

date
2017-01-31    171.050000
2017-02-28           NaN
2017-03-31           NaN
2017-04-30    169.800000
2017-05-31    169.640000
2017-06-30    169.010000
2017-07-31    169.320000
2017-08-31    169.370000
2017-09-30           NaN
2017-10-31           NaN
2017-11-30    172.132143
2017-12-31    172.843846
2018-01-31    181.018421
2018-02-28    179.354000
2018-03-31    178.291579
2018-04-30    178.079444
2018-05-31    188.672273
2018-06-30    188.047143
2018-07-31    192.189000
2018-08-31    207.562609
2018-09-30    207.402381
2018-10-31    210.257500
2018-11-30    193.243750
2018-12-31    190.702222
2019-01-31           NaN
2019-02-28           NaN
2019-03-31           NaN
2019-04-30           NaN
2019-05-31           NaN
2019-06-30           NaN
2019-07-31           NaN
2019-08-31           NaN
2019-09-30           NaN
2019-10-31           NaN
2019-11-30           NaN
2019-12-31           NaN
2020-01-31           NaN
2020-02-29    192.230000
Freq: M, Name: close, dtype: float64